

{% extends "_base.html" %} 
{% block content %}
<h1 class='card-header'>MED CRM</h1>
{% if user.is_staff or user.is_authenticated %}
<div class="container">
  <div class="row">
    <a class="card col" href="../">
      Назад
    </a>
  </div>
</div>
<div class="container">
  <form method="post" class="card-body">
    {% csrf_token %}
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Имя<br>{{ form.name }}</li>
      <li class="list-group-item">Фамилия<br>{{ form.surname }}</li>
      {{ form.clinic.as_hidden }}
      <li class="list-group-item"><button class="button" type="submit">Добавить</button></li>
    </ul>
  </form>
</div>
<div class="container">
    <table class="table">
    <thead>
        <tr>
            <th scope="col">Имя</th>
            <th scope="col">Прибыль</th>
            <th scope="col">Долг</th>
            <th scope="col">Клиенты</th>
        </tr>
    </thead>
    <tbody>

        {% for partner in partners %}
            <tr>
                <td>{{ partner.name }} {{ partner.surname }}</td>
                <td>{{ partner.payed }}</td>
                <td>{{ partner.bill }}</td>
                <td>{{ partner.client_num }}</td>
                <td><a class="button" href="{{ partner.id }}/">Подробнее</a></td>
                <form method="get" class="card-body">
                <input type="hidden" name="id" value="{{ partner.id }}" id="id_id">
                <input type="hidden" name="method" value="delete">
                <td><button class="button" type="submit">Удалить</button></td>
                </form>
            </tr>
        {% endfor %}

    </tbody>
    </table>
</div>
{% else %}
<div class='item'>
<p class='desc'>Войдите в систему, чтобы увидеть эту страницу.</p>
</div>
{% endif %} 
{% endblock %}